<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="icon" type="image/x-icon" href="../static/favicon/csslogo.png">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="../static/css/styles.css">
    <script src="../static/js/calendar.js" defer></script>
    <title>Schedule</title>
    <style>
        #calendar {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 20px;
        }
        .month {
            font-size: 24px;
            margin-bottom: 10px;
        }
        .days {
            display: grid;
            grid-template-columns: repeat(7, 1fr);
            gap: 5px;
        }
        .day {
            padding: 10px;
            border: 1px solid #ccc;
            text-align: center;
        }
    </style>
</head>
<body>
    <div id="main">
        <div class="w3-margin">
            <h1>{{ pagetitle }}</h1>
        </div>

        <div id="calendar">
            <div class="month" id="monthDisplay"></div>
            <div class="days" id="daysDisplay"></div>
        </div>

        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                <div class="flash-message {{ category }}">
                    {{ message }}
                </div>
                {% endfor %}
            {% endif %}
            {% endwith %}

        <div>
            {% block content %}
            {% endblock %}
        </div>
    </div>
</body>
</html>