{% extends 'base.html' %}

{% block content %}
<div class="w3-container w3-padding w3-animate-bottom w3-display-container" style="height: 100vh;">
   <div class="w3-card-4 w3-round-large">
      <div class="w3-margin w3-padding" style="overflow-y: auto; max-height: 500px; ">
      <p>               <p><strong>CCS Admin | 2025-Feb-25</strong></p>
    <div class="card-body bg-light w-100">
      <p>UC did it again.</p>
    </div>
    <hr>
                <p><strong>CCS Admin | 2025-Feb-03</strong></p>
    <div class="card-body bg-light w-100">
      <p>The College of Computer Studies will open the registration of students for the Sit-in privilege starting tomorrow.
Thank you!

Lab Supervisor</p>
    </div>
    <hr>
                <p><strong>CCS Admin | 2024-May-08</strong></p>
    <div class="card-body bg-light w-100">
      <p>Important Announcement  We are excited to announce the launch of our new website! 🎉 Explore our latest products and services now!</p>
    </div>
  </div>
  </div>
</div>
{% endblock %}
