{% extends 'base.html' %}

{% block content %}
<div class="w3-container w3-padding w3-animate-bottom">
    <div class="w3-card-4 w3-white w3-round-large" style="max-width: 600px; margin: auto;">
        <div class="w3-container w3-padding-large">
            <h2 class="w3-text-dark-grey" style="font-weight: 500;">Submit Feedback</h2>
            <p class="w3-text-grey">We value your input to improve our services</p>
            
            <form action="" method="POST" class="w3-container w3-margin-top">
                <label class="w3-text-dark-grey"><b>Student ID</b></label>
                <input class="w3-input w3-border w3-round w3-margin-bottom w3-light-grey" 
                       type="text" name="student_id" value="{{ student_id }}" readonly required>
                
                <label class="w3-text-dark-grey"><b>Laboratory Number</b></label>
                <select class="w3-select w3-border w3-round w3-margin-bottom" name="lab_number" required>
                    <option value="" disabled selected>Select a Laboratory</option>
                    <option value="101">101</option>
                    <option value="202">202</option>
                    <option value="303">303</option>
                </select>
                
                <label class="w3-text-dark-grey"><b>Message</b></label>
                <textarea class="w3-input w3-border w3-round w3-margin-bottom" 
                          name="message" rows="4" style="resize: vertical;" 
                          placeholder="Enter your feedback here..." required></textarea>
                
                <button class="w3-button w3-round w3-margin-top" 
                        style="background-color: #FFDE91; color: #2C1038;" 
                        type="submit">
                    <i class="material-icons" style="vertical-align: middle;">send</i> Submit Feedback
                </button>
            </form>
        </div>
    </div>
</div>
{% endblock %}