{% extends 'base.html' %}

{% block content %}
<div class="w3-container w3-padding w3-animate-bottom w3-display-container" style="height: 100vh;">
    <div class="w3-card w3-white w3-round-large w3-padding" style="max-width: 500px; margin: auto;">
        <form action="" method="POST" class="w3-container">
            <label class="font-color"><b>Student ID</b></label>
            <input class="w3-input w3-border w3-round" type="text" name="student_id" value="{{ student_id }}" readonly required>
            
            <label class="font-color"><b>Laboratory Number</b></label>
            <select class="w3-select w3-border w3-round" name="lab_number" required>
                <option value="" disabled selected>Select a Laboratory</option>
                <option value="101">101</option>
                <option value="202">202</option>
                <option value="303">303</option>
            </select>
            
            <label class="font-color"><b>Message</b></label>
            <textarea class="w3-input w3-border w3-round" name="message" rows="4" placeholder="Enter your feedback here..." required></textarea>
            
            <button class="w3-button w3-deep-purple w3-round w3-margin-top" type="submit">Submit Feedback</button>
        </form>
    </div>
</div>
{% endblock %}