{% extends 'base.html' %}

{% block content %}
<div class="w3-container w3-padding w3-animate-bottom w3-display-container" style="height: 100vh;">
        <table class="w3-table w3-striped w3-bordered">
            <thead class="w3-deep-purple">
                <tr class="w3-text-white">
                    <th>Date</th>
                    <th>Time In</th>
                    <th>Time Out</th>
                    <th>Room</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>March 5, 2025</td>
                    <td>9:00 AM</td>
                    <td>10:30 AM</td>
                    <td>Room 301</td>
                </tr>
                <tr>
                    <td>March 3, 2025</td>
                    <td>1:00 PM</td>
                    <td>2:30 PM</td>
                    <td>Room 204</td>
                </tr>
                <tr>
                    <td>March 1, 2025</td>
                    <td>10:00 AM</td>
                    <td>11:30 AM</td>
                    <td>Room 105</td>
                </tr>
            </tbody>
        </table>
</div>
{% endblock %}
